// https://niri-wm.github.io/niri/Configuration:-Introduction
// https://docs.noctalia.dev/noctalia/compositor-settings/niri/
input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
        accel-profile "flat"
    }

    mouse {
        accel-speed 0.2
        accel-profile "flat"
    }
}

cursor {
    xcursor-theme "breeze_cursors"
    hide-when-typing
    hide-after-inactive-ms 10000
}

debug {
    honor-xdg-activation-with-invalid-serial
}

environment {
    XMODIFIERS "@im=fcitx"
    QT_IM_MODULE null
    GTK_IM_MODULE null
    SDL_IM_MODULE null
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "noctalia"

hotkey-overlay {
    skip-at-startup
}

include "local.kdl"
include "appearance.kdl"
include "rules.kdl"
include "binds.kdl"

include optional=true "noctalia.kdl"
