window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

// Widget desktop layer
layer-rule {
  // noctalia-desktop-widget-<type>-<id>
  // <type> = widget kind
  // <id>   = niri msg layers
  // match namespace="^noctalia-desktop-widget-<type>-<id>"
}

// Blurred Overview
layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

// Blur
window-rule {
  background-effect {
    blur true
    xray false
  }
}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

layer-rule {
    match namespace="noctalia-window-switcher"
    background-effect {
        blur true
        xray false
    }
}

blur {
  passes 2
  offset 3.0
  noise 0.03
  saturation 1.0
}

// Turn off blur
// layer-rule {
//     match namespace="^noctalia-"
//     background-effect {
//         blur false
//     }
// }
